:root{
    --background-color:#1a3641;
    --green-dark:#46a788;
    --green-light:#72caa5;
    --white:#fff;
    --secondary-text:#cdcdcd;
    --black:#000;
}


/* .container{
        color: var(--background-color);
} */




/* Fresh, New Ideas & Bold Moves Section */
.new-ideas{padding-bottom: 90px;
    background-color: var(--background-color);
    color: var(--white);
 }
    
 .main-heading{
    font-size: calc(1.2rem + 2.5vw);
    font-weight: 700;
    color: var(--white);
}
.sub-heading{
    font-size: calc(.8rem + 1vw);
    font-weight: 500;
    color: var(--white);
}

.box-background{
    background-color: var(--green-dark);
}


