:root {
    --background-color: #1a3641;
    --green-dark: #46a788;
    --green-light: #72caa5;
    --white: #fff;
    --secondary-text: #cdcdcd;
    --black: #000;
}


/* .container{
        color: var(--background-color);
} */




/* Fresh, New Ideas & Bold Moves Section */

/* .new-ideas{padding-bottom: 90px;
    background-color: var(--background-color);
    color: var(--white);
 }
    
 .main-heading{
    font-size: calc(1.2rem + 2.5vw);
    font-weight: 700;
    color: var(--white);
}
.sub-heading{
    font-size: calc(.8rem + 1vw);
    font-weight: 500;
    color: var(--white);
}

.box-background{
    background-color: var(--green-dark);
} */

/* Contact Us page */



/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contact-us-background {
    background-color: var(--background-color);
    overflow: hidden;
}



.contact-section {
    background-color: var(--background-color);
    color: var(--white);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contact .content {

    text-align: center;
    
}

.heading {
    font-size: calc(1.2rem + 2.5vw);
    font-weight: 700;
    color: var(--white);
    text-align: center;
}

.sub-heading {
    font-size: calc(.8rem + 1vw);
    font-weight: 500;
    color: var(--white);
    text-align: center;
}

.contact .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact .box .icon {

    padding: 8px 15px;
    display: flex;
}


.box .text h3 {
    color: var(--green-dark);
}

.contact-form {
    background-color: var(--white);
    border: solid var(--green-dark);
    padding:20px ;
    overflow: hidden;
}

.send-message {
    font-size: 30px;
    color: var(--black);
}

.input-div {
    padding-bottom: 20px;
    width: 100%;
    margin-top: 9px;

}

.input-div input,
textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid var(--secondary-text);
    outline: none;
}


.form-btn {
    background-color: var(--white) ;
    color: var(--black) ;
    height: 50px;
    width: 170px;
    border: none;
    border: solid 1px;

}

.form-btn:hover {
    background-color: var(--green-dark) !important;
    color: var(--white) !important;
    
} */



/* Service css */
/* .service-section {
    background-color: var(--background-color);
    padding-bottom: 40px;
}

.service {
    width: 100%;
    height: 250px;
    margin: 20px 0;
    text-align: center;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    color: var(--white);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-heading {
    position: relative;
    top: 70px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.service .service-description {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}


.service:hover .service-heading {
    top: -3px;
}

.service:hover .service-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}



.Get-in-touch-btn {
    height: 40px;
    width: 170px;
    border: solid var(--white) 1px;
    background-color: var(--background-color);
    color: var(--white);


}

.Get-in-touch-btn:hover {
    background-color: var(--green-light);
    color: var(--black);
    border: none;
} */

/* Web Development css */
/* 
.section{
    background-color: var(--background-color);
    padding-bottom: 50px;
    
}

.heading {
    font-size: calc(1.2rem + 2.5vw);
    font-weight: 700;
    color: var(--white);
    text-align: center;
}

.main{
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;

}
.web{
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    position:absolute;
    top: 20px;
    transition:.5s;

}

.web-logo{
    width: 95px;
height: 90px;
    border-radius: 100%;
  margin: -40px auto 0;
  background-color: var(--white);
  border:  18px solid var(--background-color);
  transition:1s;
  padding-top:1px;
}


.shadow-one{
    height: 70px;
    width: 80%;
    background-color: var(--white);
    position: absolute;
    border-radius: 10px;
    left: 10%;
    z-index: -2;
    transition:   .5s;
   
}
.shadow-two{
    height:100px;
    width: 64%;
    background-color: var(--white);
    position: absolute;
    border-radius: 10px;
    left: 18%;
    z-index:-2;
   
}
.main:hover .web{
    transform: translateY(-10px);
}

.main:hover .shadow-one{
    transform: translateY(-5px);
}
.main:hover .web-logo{
    transform: rotate(360deg);
} */

/* Digital Marketing */

.section{
    background-color: var(--background-color);
    padding-top: calc(100px + 6vw);
}

.heading{
    font-size: calc(1.2rem + 2.5vw);
    font-weight: 700;
    color: var(--white);
    text-align: center;
}

.text{
    color: var(--white);
    
}
